button {
    background: linear-gradient(lightgreen, green);
    border: 5px solid black;
    font-size: 30px;
}

body {
    background: linear-gradient(green, black);
    min-height: 100vh;
}